<div class='game'>
  <h1>Blackjack Game</h1>
  <span>Dealer stays at 16 or higher</span>
  <div class="player_hand">
    <h2>Player Hand</h2>
    <div class="player_hand_value">
      <h3>Hand Value  <span><%= @game.player_hand.value %></span></h3>
    </div>
    <div class="player_hand_cards">
      <% @game.player_hand.cards.each_with_index do |card, index| %>
        <div id="player_card<%= index %>">
          <%= "#{CARD_VALUES[card.name]}#{CARD_SUITS[card.suite]}" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="dealer_hand">
    <h2>Dealer Hand</h2>
    <% @game.dealer_hand.cards.each_with_index do |card, index| %>
      <div id="dealer_card<%= index %>">
        <% if index == 0 %>
          Hidden
        <% else %>
          <%= "#{CARD_VALUES[card.name]}#{CARD_SUITS[card.suite]}" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class='actions'>
    <%= render 'actions' %>
  </div>
</div>
